{% extends "base.html" %}

<!-- products - список кортежей товаров в корзине -->
{% block content %}
<a class="navbar-brand" href="/main">Главная страница</a>
{% if products != 'Пусто'  %}
  {% for item in products %}
    <div class="alert alert-dark" role="alert">
    <h2>{{item[1]}}</h2>
    <a href="/buy_one_product/{{item[0]}}" align=right>Купить</a>
    <div>{{item[3]}}</div>
    </div>
  {% endfor %}
  <h2><a href='/buy_all'>Купить всё</a></h2>
{% else %}
  <h3 align=center>Корзина пуста</h3>
{% endif %}
{% endblock %}