
{% extends "base.html" %}
 <head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 </head>>
{% block content %}
<body background="img.jpg" bgproperties="fixed">
    <h1 align=center>Добро пожаловать!</h1>
    <h2 align=right>
      {% if "username" in session %}
        <a class="navbar-brand" href="/logout">{{session['username']}}</a>
        <br>
        <a href="/add_product">Добавить Товар</a>
        <br>
        <a class="navbar-brand" href="/logout">Выход</a>
      {% else %} 
        <p>{{username}}</p>
        <a class="navbar-brand" href="/signup">Регистрация</a>  
        <a class="navbar-brand" href="/login">Вход</a> 
     {% endif %}
     </h2>
     
     <br><br>
     <h4> Вот список доступных товаров: </h4>
     {% for item in products %}
	    <div class="alert alert-dark" role="alert">
	        <h2>{{item[1]}}</h2>
          <div>{{item[2]}}</div>
          {% if status==item[4] %}
          <a href="/delete_product/{{item[0]}}">Удалить товар</a>
          {% endif %}
	    </div>
	{% endfor %}
</body>
{% endblock %}