
<!doctype html>
<html lang="ru">
{% block content %}

<title>{{title}}</title>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <h1 align=center>Добро пожаловать!</h1>
  <h2 align=right> 
    <a class="navbar-brand" href="/"{logout}>Регистрация</a>  
    <a class="navbar-brand" href="/"{sign_in}>Вход</a> 
  </h2>
</head>
<body>
  <h4> Вот список доступных товаров: </h4>
</body>
{% endblock %}
